* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding-top: 1px;
}

.main_wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 10px;
}

header {
  height: 100px;
  background-color: #eee;
}

#header_wrapper {
  position: relative;
}

@-webkit-keyframes logoAnimation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes logoAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  25% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#header_wrapper img {
  /*  box-sizing: content-box;*/
  margin: 15px 1px;
  float: left;
  width: 200px;
  /* margin-left: 10px; */
  /*  padding: 2rem 0;*/
  -webkit-animation: logoAnimation 3s ease-in-out both infinite;
  animation: logoAnimation 3s ease-in-out both infinite;
}

#header_wrapper img,
nav,
#search_bar,
#account_login {
  display: inline-block;
}

#search_bar,
#account_login {
  margin-right: 15px;
}

#hamburger_icon {
  display: none;
  background-color: rgba(0, 0, 0, 0);
  width: 48px;
  height: 48px;
  padding-bottom: 100px;
  border-radius: 50%;
}

.hamburger_icon_element {
  width: 20px;
  height: 2px;
  background-color: #333;
  border-radius: 3px;
  margin: 7px auto;
}

nav {
  margin: 27.5px 1%;
}

nav ul#navlist {
  margin: 0;
  padding: 0;
  /*  max-width: 56%;*/
}

nav ul#navlist li {
  display: inline-block;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0);
  min-width: 50px;
}

nav ul#navlist li a {
  text-decoration: none;
  color: #000;
  /*  background-color: rgba(255,255,255,60%);*/
  /*  background-color: rgba(0,0,0,60%);*/
  background-color: rgba(0, 0, 0, 0);
  display: block;
  padding: 13px 11px 12px 14px;
  min-width: 50px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav ul#navlist li a:hover {
  color: #95ce00;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

#search_bar {
  /*  display: block;*/
  min-width: 270px;
  height: 48px;
  background-color: #ddd;
  border-radius: 150px;
  position: absolute;
  top: 26px;
  right: 115px;
}

#search_bar span {
  position: absolute;
  left: 20px;
  top: 14px;
}

#search_bar svg {
  position: absolute;
  right: 15px;
  top: 12px;
}

#account_login {
  position: absolute;
  right: 1px;
  top: 36px;
  /*  padding-top: 1px;*/
}

#account_login svg {
  float: left;
}

#account_login span {
  display: inline-block;
  margin-top: 2px;
  margin-left: 5px;
}

#feature_slide {
  min-height: 450px;
  background: #9e178f;
  background: linear-gradient(121deg,
      rgba(227, 62, 134, 1) 0%,
      rgba(158, 23, 143, 1) 41%,
      rgba(64, 15, 118, 1) 77%,
      rgba(24, 15, 74, 1) 100%);
}

#slide_container,
#top_story_container,
#mine_rose_container,
#mine_tulip_container {
  display: -webkit-flex;
  display: flex;
}

.arrow_wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.arrow_icon {
  /*
  padding-top: 3px;
  padding-left: 2px;
*/
  width: 40px;
  height: 40px;
}

#right_arrow .arrow_icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  /*
  padding-top: 0;
  padding-left: 0;
*/
}

.arrow_wrapper {
  padding-top: 5px;
  padding-left: 3px;
}

#right_arrow .arrow_wrapper {
  padding-top: 5px;
  padding-left: 6px;
}

#left_arrow {
  order: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding: 180px 30px 1px 1px;
}

#feature_pic {
  order: 2;
  -webkit-flex-grow: 7;
  flex-grow: 7;
  display: -webkit-flex;
  display: flex;
  padding: 20px 20px;
}

#feature_pic_box1 p,
#top_story_box_1 p {
  width: 400px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

#top_story_box_1 p {
  color: #000;
  margin-bottom: 25px;
  margin-top: 15px;
}

#top_story_box_1 {
  padding-left: 100px;
  padding-right: 50px;
}

#feature_pic_box1 h1,
#top_story_box_1 h1 {
  font-size: 5rem;
  color: #fff;
  font-weight: 700;
}

#top_story_box_1 h1 {
  color: #000;
  margin-bottom: 10px;
  margin-top: 40px;
}

#top_story_box_1 h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
  margin-top: 20px;
  color: #000;
}

div.learn_m_button {
  border: 2px solid #9e1752;
  background-color: #fff;
  padding: 10px 10px;
  width: 150px;
  height: 3rem;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
}

div.learn_m_button:hover {
  background-color: #ff6f6f;
}

div.learn_m_button:hover span.learn_m_button {
  color: #fff;
}

span.learn_m_button {
  color: #9e1752;
  display: inline-block;
  margin-top: 2px;
}

#feature_pic_box2,
#top_story_box_2 {
  padding-top: 48px;
}

#feature_pic_box2 img,
#top_story_box_2 img {
  width: auto;
  height: 300px;
}

#right_arrow {
  order: 3;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding: 180px 1px 1px 30px;
}

#sale_slogen,
#trending {
  display: none;
}

#top_story {
  min-height: 400px;
}

footer {
  min-height: 500px;
  background-color: #000;
  color: #eee;
}

#footer_wrapper {
  position: relative;
  padding-left: 30px;
  padding-top: 25px;
}

footer a {
  text-decoration: none;
  display: block;
  color: #eee;
  padding: 13px 11px 12px 14px;
  min-width: 50px;
  /*  text-align: center;*/
}

footer a:hover {
  color: #f00;
}

.footer_col {
  float: left;
  margin-right: 40px;
}

.footer_th {
  font-size: 1.5em;
}

hr.footer {
  clear: both;
  margin-top: 350px;
  margin-bottom: 20px;
}

#footer_socialmedia {
  position: absolute;
  right: 1px;
  top: 305px;
}

.footer_sm {
  float: left;
  padding: 10px;
}

#footer_bottom_section .footer_td {
  float: left;
}

#footer_bottom_section {
  position: relative;
}

#footer_bottom_section_box {
  position: absolute;
  right: 1px;
}

#last_modified {
  clear: both;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.mine_left {
  order: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding-left: 70px;
}

.mine_right {
  order: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
}

.mine_img_wrapper,
.timeline_img_wrapper,
.trending_post_pic {
  box-sizing: content-box;
  width: 200px;
  height: 200px;
  background-color: #d5f26b;
  border: 10px solid #d5f26b;
  border-radius: 50%;
}

.mine_img_wrapper img,
.timeline_img_wrapper img,
.trending_post_pic img {
  border-radius: 50%;
}

#mine_tulip .main_wrapper,
#mine_rose .main_wrapper {
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

hr#mine_section {
  /*  margin-top: 50px;*/
  max-width: 88%;
  display: none;
}

.mine_right h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

#community h1 {
  font-size: 3em;
}

#trending_hot_container {
  display: -webkit-flex;
  display: flex;
  min-width: 760px;
}

#community h2 {
  font-size: 1.5em;
}

#community h2#hot_left,
#community h2#hot_right,
.trending_post {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

#community_container {
  display: -webkit-flex;
  display: flex;
  padding-bottom: 50px;
  margin-top: 50px;
}

#community h3 {
  font-size: 1.5em;
}

.trending_post p {
  max-width: 200px;
}

#community h3,
#community h4,
#community h5,
#community p,
#community div.view_detail_button {
  margin-left: 10px;
}

#community h5 {
  font-weight: 400;
  color: #666;
}

#newsletter_section_wrapper {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

form {
  max-width: 760px;
  margin: 0 auto;
}

form fieldset#fs_1 {
  border: 2px solid rgba(0, 0, 0, 20%);
  width: 90%;
  background-color: rgba(0, 0, 0, 7%);
  margin-bottom: 25px;
  border-radius: 9px;
}

form legend {
  background-color: #333;
  color: #fff;
  padding: 6px 12px;
  border-radius: 7px;
}

form label {
  display: inline-block;
  width: 160px;
  height: max-content;
  text-align: right;
  padding-right: 1em;
  padding-top: 0.4em;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"],
form input[type="number"] {
  width: 210px;
  font-size: 0.9em;
  padding: 6px 8px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
}

#third_fieldset {
  margin-left: 15px;
}

form input[type="text"]:hover,
form input[type="password"]:hover,
form input[type="email"]:hover,
form input[type="tel"]:hover,
form input[type="number"]:hover {
  background-color: #f8ffdf;
  color: #1a4505;
  border: 1px solid #293406;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form input[type="number"]:focus {
  background-color: #daf3f8;
  color: #041a1e;
  border: 1px solid #041a1e;
}

.btn,
button {
  background: #67c61f;
  border-radius: 999px;
  box-shadow: #67c61f 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  cursor: pointer;
  padding: 8px 18px;
  border: 0;
  display: inline-block;
  margin: 50px auto;
  width: 130px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: #4c9d0d;
  box-shadow: #4c9d0d 0 10px 20px -10px;
  transform: scale(1.1);
}

#newsletter_section div {
  max-width: 760px;
  margin: 20px auto;
  padding-top: 10px;
  margin-top: 0;
}

#newsletter_section h1 {
  font-size: 3em;
  padding-top: 1.1em;
  margin-bottom: 0.4em;
}

#newsletter_section p#h1_p {
  font-size: 1.5em;
  padding-top: 10px;
  max-width: 80%;
  padding-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  /*
  body{
    padding-left: 1px;
    padding-right: 1px;
  }
*/

  .main_wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  #header_wrapper {
    padding-left: 20px;
    padding-right: 200px;
  }

  #header_wrapper img {
    margin-left: 10px;
  }

  #search_bar {
    min-width: 48px;
    right: 45px;
    background-color: rgba(0, 0, 0, 0);
  }

  #search_bar span {
    display: none;
  }

  #search_bar svg {
    right: 11px;
  }

  /* #account_login span{
    display: none;
  } */

  #left_arrow,
  #right_arrow {
    display: none;
  }

  #feature_pic_box1 {
    padding-left: 80px;
  }

  #feature_pic_box2 img,
  #top_story_box_2 img {
    width: auto;
    height: 200px;
    padding-top: 50px;
  }

  #feature_pic_box2 img {
    padding-left: 50px;
  }
}

@media screen and (max-width: 930px) {
  nav {
    display: block;
    position: absolute;
    right: 0;
    top: 100px;
    margin: 0 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  #hamburger_icon {
    display: inline-block;
    position: absolute;
    right: 120px;
    top: 32px;
  }

  nav ul#navlist {
    padding-left: 20px;
    padding-right: 20px;
    width: 350px;
    display: block;
    background-color: #111;
  }

  nav ul#navlist li {
    display: block;
    height: 100px;
  }

  nav ul#navlist li a {
    font-size: 1.5em;
    padding: 35px 10px;
    color: #fff;
  }

  #header_wrapper:hover nav {
    visibility: visible;
    opacity: 1;
  }

  #header_wrapper:hover nav ul#navlist li a {
    display: block;
  }

  #feature_pic_box2,
  #top_story_box_2 {
    display: none;
  }

  #feature_pic_box1 {
    padding-left: 80px;
  }

  #footer_wrapper {
    padding-right: 30px;
  }

  #footer_socialmedia {
    display: none;
  }

  #footer_bottom_section .footer_td {
    float: none;
  }

  #footer_bottom_section_box {
    position: relative;
  }

  #footer_bottom_section_box .footer_td {
    float: left;
  }
}

/* --------- PHP Program CSS -------------------------*/

.form_validate_error {
  display: inline-block;
  color: rgb(219, 6, 6);
  padding-left: 1em;
  max-width: 350px;
}

/*
.error::before{
  content: "*";
} */

.plain_a {
  text-decoration: none;
  padding: 13px 11px 12px 14px;
  min-width: 50px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.grid-container {
  display: grid;
}

.grid_post_list {
  grid-template-columns: repeat(auto-fill, 280px);
  justify-content: space-between;
}

.flash {
  text-align: center;
  font-weight: 700;
  border: 1px solid #cfcfcf;
  border-radius: 0.5em;
  width: fit-content;
  padding: 1em;
  margin-bottom: 1.5rem;
}

.success {
  color: #307520;
  background: #dff9d9;
  border-color: #307520;
}

.error {
  color: #900;
  background: #f2bfbf;
  border-color: #900;
}

.s-box {
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

.img-auto-width {
  max-width: 100%;
  max-height: 100%;
}

.pd1 {
  padding: 1em;
}

.post_card {
  width: 280px;
  margin-bottom: 3.5em;
}

.post_detail_recommand_block {
  margin: 4rem 0 2rem 0;
}

.post_recommend_card {
  width: 12em;
}

.post_recommend_dilimiter {
  width: 1px;
  background-color: #b1b3b6;
  margin: 0 2em;
}

.post-card-2-row {
  justify-content: space-between;
  color: #777c82;
}

.post_title {
  font-weight: 700;
  font-size: 1.2em;
}

.post_title:hover {
  color: #63c617;
}

.mt1 {
  margin-top: 1rem;
}

.mr1 {
  margin-right: 1rem;
}

.pt-1px {
  padding-top: 1px;
}

.post_summary {
  color: #6f6f6f;
}

.active-category {
  background-color: #8bde0f;
}

.post_category {
  border-radius: 2em;
  padding: 0.3em 0.7em 0.4em 0.7em;
  width: fit-content;
  border: 1px solid rgb(123, 130, 133);
  margin-right: 1em;
  display: inline-block;
}

.post_category:hover {
  background-color: #8bde0f;
  border: 1px solid rgb(9, 143, 7);
}

.post_list {
  justify-content: space-between;
  padding: 1em 0;
}

.category_list {
  padding: 1em 0 1em 0 !important;
  justify-content: space-between;
}

.active-nav-item {
  color: #63c617 !important;
  font-weight: 700;
  font-size: 1.2em;
}

.util_nav_a {
  color: #031101;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.util_nav_a:hover {
  color: #31c91d;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.rm-btn-margin {
  margin: 0 !important;
}

.btn-w-fix {
  width: min-content;
}

.btn-p-small {
  padding: 3px 13px;
}

.btn-p-xsmall {
  padding: 1px 11px;
}

#search {
  max-width: 10rem;
}

.ml-1 {
  margin-left: 1em !important;
}

.my-1 {
  margin: 1em 0 !important;
}

.dspl-blk {
  display: block;
}

.cat_list_a {
  padding: 0;
  color: rgb(11, 57, 5);
}

.cat_list_a:hover {
  color: rgb(20, 78, 4);
}

.post_card_a {
  padding: 0;
  color: rgb(30, 111, 0);
}

.post_hero_pic {
  width: 100%;
  border-radius: 0.5rem;
}

.post_detail_2_row {
  color: #8b8684;
}

.post_content {
  max-width: 800px;
  margin-top: 2em;
}

.border-r-1 {
  border-right: 1.5px solid #b6b7b9;
}

.pr-1 {
  padding-right: 1rem;
}

.fw-700 {
  font-weight: 700;
}

.max-w-30 {
  max-width: 30rem;
}

.recmd_artical_title:hover {
  color: #63c617;
}

#comment_block {
  margin-top: 1rem;
}

#comment_form {
  margin: 2em 0;
}

#textarea_comment {
  border-radius: 0.5rem;
  max-width: 50rem;
  min-width: 40rem;
  min-height: 10rem;
  resize: none;
  padding: 1em;
  border-color: #84878b;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

#comment_exhibition {
  margin: 2.5em 0;
  border-left: 0.3rem solid #dadada;
  padding-left: 1rem;
}

.cmt-card {
  margin: 1rem 0;
  align-items: flex-start;
  margin-bottom: 2.5rem;
}

.cmt-pic {
  width: 4rem;
  height: 100%;
  border-radius: 999px;
  margin-right: 1rem;
}

.profile_li {
  width: 2.5em;
}

.profile_li_num {
  border-radius: 999px;
  width: 1.5em;
  height: 1.5em;
  padding-top: 0.15rem;
  display: inline-block;
  text-align: center;
  background-color: rgb(16, 56, 4);
  color: #f5ffee;
}

.rm-btn-box-shadow {
  box-shadow: none !important;
}

/*------------ FOR DEBUG
-------------------------------------------------- */
/*
div.main_wrapper div {
  border: 1px solid #c93d3d;
  }
*/